@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/static/Inter-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/static/Inter-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/static/Inter-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/static/Inter-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/static/Inter-Bold.ttf');
  font-weight: 700;
}
